In [28]:
import pandas as pd
data=pd.read_csv("SP.csv")
data.head()
#slice_slices the data by row,this function returns rows x to y 
def slice(data,x,y):
    return data.iloc[int(x)-1:int(y)-1,:]

####return data by date 
#data.loc[data.Date=="3/5/1970",:]

##slices by date
def dated(data,x,y):
    i=data[data['Date']==x].index[0]
    l=data[data['Date']==y].index[0]
    return slice(data,i+1,l+2)
#dated(data,"3/5/1970","3/10/1970")

         Date      Close  Adj Close      Volume  Daily_Return_Pct
42   3/5/1970  90.000000  90.000000  11370000.0         -0.006222
43   3/6/1970  89.440002  89.440002  10980000.0         -0.010398
44   3/9/1970  88.510002  88.510002   9760000.0          0.002712
45  3/10/1970  88.750000  88.750000   9450000.0         -0.000676